<%- include('partials/header') %>
<%- include('partials/navbar') %>
<div class="container">
    <h1 class="display-1 text-center text-primary text-dark">About Prairie Creek Settlement</h1>
</div>
<%- include('partials/footer.ejs') %>