<%- include('partials/header') %>
<%- include('partials/navbar') %>
    <h1>Contact Prairie Creek Settlement </h1>
    <div>
        <h2>Email</h2>
        <p>Judah Petty: judahpcs@gmail.com</p>
        <p>Celine Kayser: decapitalization@gmail.com</p>
        <p>Nathan Crabtree: nathanielmarkcrabtree@gmail.com</p>
    </div>

    <div>
        <h2>Phone (text first)</h2>
        <p>Judah Petty: 832-301-1471</p>
        <p>Celine Kayser: 904-891-9635</p>
        <p>Nathan Crabtree: 417-773-2763</p>
    </div>
    <div>
        <h2>Mail</h2>
        <p>Prairie Creek Settlement<br>Post Office Box 1208<br>Lebanon, MO [65536]</p>
    </div>
<%- include('partials/footer.ejs') %>