<%- include('partials/header') %>
<%- include('partials/navbar') %>
<div class="container">
    <h1 class="display-1 text-center text-dark">Contact Prairie Creek Settlement</h1>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <h2>Email</h2>
        </div>
        <div class="col-1"></div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <p>Judah Petty: judahpcs@gmail.com</p>
            <!-- <p>Celine Kayser: decapitalization@gmail.com</p> -->
            <p>Nathan Crabtree: nathanielmarkcrabtree@gmail.com</p>
        <div class="col-2"></div>

    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <h2>Phone (text first)</h2>
        </div>
        <div class="col-1"></div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <p>Judah Petty: 832-301-1471</p>
            <!-- <p>Celine Kayser: 904-891-9635</p> -->
            <p>Nathan Crabtree: 417-773-2763</p>
        </div>
        <div class="col-2"></div>
    </div>
    <!-- <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <h2>Mail</h2>
        <div class="col-1"></div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <p>Prairie Creek Settlement<br>Post Office Box 1208<br>Lebanon, MO 65536</p>
        </div>
        <div class="col-2"></div>
    </div> -->
</div>
<%- include('partials/footer.ejs') %>