<%- include('partials/header') %>
<%- include('partials/navbar') %>
    <h1>PCS HOMEPAGE <%= "Hello World".toUpperCase() %></h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil nulla sint laboriosam accusamus! A delectus eaque sunt, fugit, magni quisquam, maiores nisi saepe numquam ullam illo distinctio excepturi. Amet, suscipit.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis quisquam repellendus maxime, amet perspiciatis sunt aliquam nobis ab dolorum delectus, ad tempora ducimus deleniti eveniet nulla voluptatibus quae sint excepturi!</p>
<%- include('partials/footer.ejs') %>