<%- include('partials/header') %>
<%- include('partials/navbar') %>

<div class="container text-center">
    <h1 class="display-1 text-center text-primary text-dark">Welcome to Prairie Creek Settlement!</h1>
    <div class="row mb-3">
        <div class="col-1"></div>
        <div class="col-10">
            <span>Imagine a World without Money or Currency of any kind. Have you ever considered it? Within the pages of this site you will discover how Money was invented and remains the single element that prevents humans from becoming free, sustainable, able to enjoy unlimited free energy and the highest forms of technology which serve to restore the Creation, Plants, Animals, Earth and People to perfect health.</span>
        </div>
        <div class="col-1"></div>
    </div>
    <div class="row mb-3">
        <div class="col-1"></div>
        <div class="col-10">
            <span​>While many are still chasing the dollar and frantically worried about a monetary collapse, we on the other hand are designing a better world that will be unaffected by such a collapse. Which world are you prepared to invest your energy in?</span>
        </div>
        <div class="col-1"></div>
    </div>
    <div class="row mb-3">
        <div class="col-1"></div>
        <div class="col-10">
            <span>On this site you will discover the various Challenges the monetary system has created, learn about Suppressed knowledge and Information, Discover real Solutions to those Challenges and Learn of a Small Village in Missouri for those who want to physically do something to better the world and reconnect with Nature as humans were always intended to be.</span>
        </div>
        <div class="col-1"></div>
    </div>
    <div class="row mb-3">
        <div class="col-1"></div>
        <div class="col-10">
            <span>Please take a moment to review the following information before continuing your Journey.</span>
        </div>
        <div class="col-1"></div>
    </div>
</div>
<div id="carousel" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/images/arial.png" class="d-block w-100" alt="PCS arial view">
      </div>
      <div class="carousel-item">
        <img src="images/group-gardening.jpg" class="d-block w-100" alt="PCS gardens">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
<%- include('partials/footer.ejs') %>